$(".all_items").append('<li id="li_item_<%= @item.id %>"><%= @item.todo %><%= link_to "delete", [current_user, @list, @item], remote: true, method: :delete %></li>');

var count_items = parseInt($(".items_counter").html()) + 1;
var new_count = count_items == 1 ? count_items + " todo item" : count_items + " todo items";
$(".items_counter").html(new_count);